{% import "_issue.tt" as issue %}

{% macro render(issues, indent="", empty="No issues this time.") %}
{%- for issue in issues %}
{{indent}}- {{issue::render(issue=issue)}}{% else %}{{empty}}{% endfor -%}
{% endmacro %}
