{% macro render(issue, with_age="") %}"{{issue.title}}" [{{issue.repo_name}}#{{issue.number}}]({{issue.html_url}}){% if issue.mcp_details.zulip_link %} ([Zulip]({{issue.mcp_details.zulip_link}})){% endif %}{% if with_age %} (last review activity: {{issue.updated_at_hts}}){%- endif -%}
{% if issue.mcp_details.concerns %}{%- for concern in issue.mcp_details.concerns %}
    - concern: [{{- concern.0 -}}]({{- concern.1 -}})
{%- endfor -%}{% endif -%}{% endmacro %}
